{% extends 'public/base.html' %}

{% block title %}
	Articles
{% endblock %}



{% block body %}
	Articles

	{% if articles %}
		{{articles}}
		
		{% for article in articles%}
			<div>
		<img src="media/{{article.picture}}">
			<h2>{{ article.title}}</h2>
			<p>{{ article.content}}</p>
			<p>{{ article.created_at}}</p>
			<ul>
				{% for techno in article.technologies.all%}
				<li>{{ techno.name}}</li>
				{% endfor%}
			</ul>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}