{% extends 'public/baseprivate.html' %}

{% block title %}
	Articles
{% endblock %}



{% block body %}
<div class="d-flex align-items-center">
<h1>
	Articles admin</h1>
<div>
<a class="btn btn-primary ml-5" href="{% url 'articleForm' %}">Ajouter un article</a>
</div>
</div>
	{% if articles %}
		{{articles}}
		
		{% for article in articles%}
			<div class="d-flex justify-content-between p-2">
			<h2>{{ article.title}}</h2>
			<div>
			<a href="{% url 'articlesUpdate' article.id %}"><button  class="btn btn-secondary">Edit</button></a>
			<a href="{% url 'articlesDelete' article.id %}"><button  class="btn btn-danger" >Delete</button></a>
			</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}


