


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %} {% endblock %}</title>

    {% load static %}

    <!-- Bootstrap Core CSS 
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/bootstrap.min.css' %}" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/public.css' %}" />


</head>

<body>
    {% include 'public/_navPrivate.html' %}
    <div class=container>
    {% block body %} {% endblock %}
</div>

    {% include 'public/_footer.html' %}

</body>
</html>