{% extends 'public/base.html' %}

{% block title %}
	Home
{% endblock %}

    {% load static %}



{% block body %}
	Home
	<div class="row">
		<div class="col-6 d-flex justify-content-center align-items-center">
			<h1>Because I had to start from ...</h1>
		</div>
		<div class="col-6">
			<div id=greenCircle class="d-flex justify-content-center align-items-center">
				<img src="{% static 'public/img/scratch.jpeg' %}">
			</div>
		</div>

{% endblock %}