{% extends 'public/base.html' %}

{% block title %}
	Login
{% endblock %}




{% block body %}
	Login
<div class="row">
	<div id=greenCircle class="col-6 d-flex flex-column justify-content-center align-items-center ">
	<form method="post" action="{% url 'user_login' %}" class=" d-flex flex-column justify-content-center align-items-end">
          {% csrf_token %}
          <div class="p-3">
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username"></div>
          <div  class="p-3">
          	<label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
      </div>
      <input class="btn btn-light" type="submit" name="" value="Login"></form>
</div> 
</div>
{% endblock %}


