{% extends 'public/baseprivate.html' %}

{% block title %}
{% endblock %}



{% block body %}
    {% load static %}

<div class="row mt-5">
	<div class="col-6">

<h1> Hello {{user.username}}, here are all your informations</h1>
<p>Fullname: {{user.first_name}} {{user.last_name}}</p>
<p>Mail: {{user.email}}</p>
<p>Last logged in on: {{user.last_login}}</p>

<p>Joined on: {{user.date_joined}}</p>



<p>{{userAdditional.tel}}</p>
<p>{{userAdditional.address}}</p>
<a class="btn btn-primary" href="{% url 'usersUpdate' user.id %}">Modifier mes infos</a>
</div>
<div>
	<div id=greenCircle> <div class="d-flex justify-content-center align-items-center"> <img src="{{userAdditional.avatar.url}}"></div>
</div>
</div>
</div>
<div class="row " id="greenSeparator">
kkkkkkkkkkkkk
</div>

==================================
<h1> Playground</h1>
{{site}}

<div>
	{% for section in site%}
	<div>
		{{section.name}}
		<img src="media/{{section.picture}}">
	</div> Go and play:

	{% endfor %}
</div>




{% endblock %}