{% extends 'public/baseprivate.html' %}
{% block body %}
{% if messages %}
	{% for message in messages%}
		<ul>
			<li><div class="d-flex justify-content-between">
					<div>
					<p>From: {{message.firstname}} {{message.lastname}}</p>
					<p>Message: <br>{{message.content}}</p>
					<p>Feel free to answer at: {{message.email}}</p>
					</div>
					<div class="d-flex align-items-center"> 
						{% if message.read == True %}
							<p class="bg-secondary p-2">Read</p>
						{% else %} 
							<p class="bg-success p-2">Unread </p> 
							<form method="post" action="{% url 'messagesUpdate' %}">
								{% csrf_token %}
							  <label for="read">Mark as read</label>
          					  <input id="read" type="checkbox" name="read">
          					  <input type="hidden" name="id" value={{message.id}}>

          					  <input type="submit" name="" value="submit">


							</form>
						{% endif %}
					</div>
				</div>
			</li>
		</ul>
	{% endfor %}
{% endif %}
{%endblock%}


