{% extends 'public/baseprivate.html' %}

{% block title %}
	Articles
{% endblock %}



{% block body %}
<div class="d-flex align-items-center">
	<h1>
	Projects admin</h1>
	<div>
<a class="btn btn-primary ml-5" href="{% url 'projectForm' %}">Ajouter un projet</a>
</div>
</div>
	{% if projects %}
		{{projects}}
		
		{% for project in projects%}
			<div class="d-flex justify-content-between p-2">
			<h2>{{ project.name}}</h2>
			<div>
			<a href="{% url 'projectsUpdate' project.id %}"><button class="btn btn-secondary">Edit</button></a>
			<a href="{% url 'projectsDelete' project.id %}"><button class="btn btn-danger">Delete</button></a>
			</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}


