{% extends 'public/base.html' %}

{% block title %}
	Project
{% endblock %}




{% block body %}
	Project

	{% if projects %}
		{{projects}}
		
		{% for project in projects%}
			<div>
			<img src="{{project.illustration.url}}">
			<h2>{{ project.name}}</h2>
			<p>{{ project.description}}</p>
			<ul>
				<li>{{ project.repo_url}}</li>
				<li>{{ project.website_url}}</li>

			</ul>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}