{% extends 'public/baseprivate.html' %}

{% block title %}
{% endblock %}



{% block body %}

{% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}

    <div class="row d-flex mt-5">

      <div  class="col-12">
      <form enctype="multipart/form-data" method="POST" class=" d-flex row flex-column">
          {% csrf_token %}
          <div id=greenCircle class=" d-flex flex-column justify-content-center align-items-center">
          {{ user_form.as_p }}
        </div>
        <div id=greenCircle class=" align-self-end d-flex flex-column justify-content-center align-items-center">
          {{ profile_form.as_p }}
        </div>
          <input type="submit" name="" value="Valider" class="btn-lg btn-success p-6 align-self-start mb-5">
        </form>
      </div>
    </div>

      {% endif %}
{% endblock %}