{% if registered %}
        <h1>content dashboard</h1>
      {% else %}
        <h1>sections</h1>
        <h3>Just fill out the form.</h3><form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Register">
        </form>
      {% endif %}

      {{user.id}}