{% extends 'public/baseprivate.html' %}

{% block title %}
	Articles
{% endblock %}



{% block body %}
<div class="d-flex align-items-center">
	<h1>Technologies admin</h1>
	<div>
<a class="btn btn-primary ml-5" href="{% url 'dashboard' %}">Ajouter une techno</a></div>
</div>
	{% if technologies %}
		{{technologies}}
		
		{% for tech in technologies%}
			<div class="d-flex justify-content-between p-2">
			<div class="d-flex"><img src="{{tech.picture.url}}"><h2>{{ tech.name}}</h2></div>
			<div>
			<a href="{% url 'technologiesUpdate' tech.id %}"><button class="btn btn-secondary">Edit</button></a>
			<a href="{% url 'technologiesDelete' tech.id %}"><button class="btn btn-danger">Delete</button></a>
			</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}