/* Rock Salt  */

@font-face {
    font-family: "Rock Salt";
    src: url("../fonts/RockSalt-Regular.eot");
    src: url("../fonts/RockSalt-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/RockSalt-Regular.woff2") format('woff2'),
         url("../fonts/RockSalt-Regular.woff") format('woff'),
         url("../fonts/RockSalt-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Rhodium Libre */
@font-face {
    font-family: "Rhodium Libre";
    src: url("../fonts/RhodiumLibre-Regular.eot");
    src: url("../fonts/RhodiumLibre-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/RhodiumLibre-Regular.woff2") format('woff2'),
         url("../fonts/RhodiumLibre-Regular.woff") format('woff'),
         url("../fonts/RhodiumLibre-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Open Sans */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/OpenSans-Regular.woff2") format('woff2'),
         url("../fonts/OpenSans-Regular.woff") format('woff'),
         url("../fonts/OpenSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}


h1{
	font-family: "Rock Salt"
}

h2{
	font-family: "Rhodium Libre";
}


#greenCircle{
	border-radius: 50%;
	background-color: #6DD15C;
	width:500px;
	height:500px;
	overflow:hidden;
}


#greenSeparator{
	height:200px;
	background-color: #6DD15C;

}

